#map { height: 600px; width: 100%; }
        .controls { margin: 10px; padding: 10px; background: #f0f0f0; }

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-container {
    margin-bottom: 0; /* Removido o margin-bottom para alinhar melhor o logo */
}

/* Estilo para a logo */
.logo-container img {
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    height: auto;
    max-height: 150px;
    min-height: 75px;
    object-fit: contain;
}

/* Estilo do menu */
header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px; /* Espaçamento entre os itens do menu */
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #575757; /* Cor de fundo ao passar o mouse */
}
